*{
    padding: 0%;
    margin: 0%;
    /* background-image: url(Wallpaper.jpg); */
    /* background-color: #395B64; */
    /* background-color: #395B64; */
    

}
/* HEADING */
body{
    background: aqua;
    /* background-image:url("Sea-turtle-prehistoric-turtle-clipart-transparent-stick.png"); */
    /* background: url("play.png"); */
}
.heading{
text-align: center;
color: #7C83FD;


}
/* tindog */
#testimonials{
  
    text-align: center;
    background-color: #ef8172;
    color:#fff;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;

}
.carousel-item{
    padding: 7% 15%;
}
/* ADIOU */
.music{
    background-image: url("image.png");
    background-size: cover;
    background-position: center;
    position: relative;
    width: 600px;
    height: 600px;
    float: right;
    margin-right: 15%;
    margin-bottom: 120px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(59,58,58, 40);
}
.imgs{
    padding:1% 15% 10% 15%;
    float: center;
    margin-left: auto;
    margin-right: auto;
}
.musicimg{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#mySong{
    float: center;
}



/* IMAGE SLIDER */
.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
   overflow: hidden;
   margin-left: 25%;
   margin-bottom: 5%;

}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;

}
.slide{
    /*width: 20px;*/
    transition: 2s;


}
.slide img{
    width: 800px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.manual-btn:not( :last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: red;
}
#radio1:checked~ .first{
    margin-left: 0;
}
#radio2:checked~ .first{
    margin-left: -20%;
}
#radio3:checked~ .first{
    margin-left: -40%;
}
#radio4:checked~ .first{
    margin-left: -60%;
}
#radio5:checked~ .first{
    margin-left: -80%;
}
.navigation-auto{
position: absolute;
display: flex;
width: 800px;
justify-content: center;
margin-top: 460px;
}
.navigation-auto div{
 border: 2px solid red;
 padding: 5px;
 border-radius: 10px;
 transition: 1s;
}
.navigation-auto div:not(:last-child){
margin-right: 40px;
}
#radio1:checked~ .navigation-auto .auto-btn1{
background: red;
margin-left: 0;
}
#radio2:checked~ .navigation-auto .auto-btn2{
background: red;
 margin-left: 0;
}
#radio3:checked~ .navigation-auto .auto-btn3{
background: red;
 margin-left: 0;
}
#radio4:checked~ .navigation-auto .auto-btn4{
background: red;
 margin-left: 0;
}
#radio5:checked~ .navigation-auto .auto-btn5{
background: red;
 margin-left: 0;
}

/* BOX */
.box{
    text-align: center;
    background:url("download.jpg");
    background-size: cover;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 600px;
    height: 600px;
    /* background-color: #fff; */
    border: 1px solid rgba(59,58,58, 40);
    border-radius: 20px;
    box-shadow: -10px 5px 10px rgb(63, 60, 60);
    top: 0;
    transition: top ease 0.5s;
}
.box:hover
{
    top:-50px;
}

.box-2{
    margin-top: 10%;
    margin-right: 3%;
    float:right;
    text-align: center;
    color: white; 
    background:url("🌚🌚🌚.jpg");
    background-size: cover;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3rem;
    position: relative;
    width: 600px;
    height: 600px;
    /* background-color: #fff; */
    border: 1px solid rgba(59,58,58, 40);
    border-radius: 20px;
    box-shadow: -10px 5px 10px rgb(63, 60, 60);
    top: 0;
    transition: top ease 0.5s;
}
.box-2:hover
{
    left:-50px;
}
/* video */
.video{
    background-image: url("🌚🌚🌚.jpg");
    float:center;
    text-align: center;
    margin-top: 70%;
    margin-right: 3%;
    margin-bottom: 2%;
    margin-left: 4%;
    width: 900px;
    height: 800px;
    /* background-color: #fff; */
    border: 10px solid rgba(59,58,58, 40);
    /* border-radius: 20px; */
    /* box-shadow: -10px 5px 10px rgb(63, 60, 60); */
}
.videos{
    border: 10px solid #fff;
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}